// fonts
$font-primary: "Inter 24pt", sans-sarif;
$font-secondary: "Outfit", sans-sarif;

// colors
$color-primary: #4e6bff;
$color-primary-light: #788efd;
$color-primary-dark: #4a64e6;
$color-secondary: #f36a8d;
$color-gray: #79808a;
$color-gray-light: #757575;
$color-gray-light-2: #f4f7fa;
$color-gray-light-3: #ecf0f5;
$color-gray-dark: #424242;
$color-heading: #181c31;
$color-green: #20ca66;
$color-orange: #fa9161;
