@keyframes scale-effect {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.5;
    transform: scale(1.3);
  }

  100% {
    opacity: 0;
    transform: scale(1.9);
  }
}

@keyframes infinit-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
