*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 50%;
  }

  @include respond(tab-port) {
    font-size: 43.75%;
  }
}

body {
  box-sizing: border-box;
  color: $color-gray;
  font-family: $font-primary;
  background-color: #fafafa;
  overflow-x: hidden;

  @include respond(tab-land) {
    padding: 0 0rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  color: $color-heading;
}
