@font-face {
  font-family: "Outfit";
  src: url(../../fonts/Outfit/static/Outfit-Regular.ttf) format("TrueType");
  font-style: none;
  font-display: swap;
}

@font-face {
  font-family: "Inter 24pt";
  src: url(../../fonts/Inter/static/Inter_24pt-Regular.ttf) format(TrueType);
  font-style: none;
  font-display: swap;
}
