.footer {
  width: 120rem;
  margin: 0 auto;
  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 8rem;

    border-bottom: 1px solid #d8e1ed;

    @include respond(large-phone) {
      flex-direction: column;
      align-items: initial;
      gap: 3rem;
    }
  }

  &__left {
    width: 25%;

    @include respond(large-phone) {
      width: 50%;
      margin: 0 auto;
    }

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-right: 40rem;
    }
    &-title {
      svg {
        height: 4.4rem;
        width: 13rem;
      }
    }

    &-text {
      font-size: 1.6rem;
      line-height: 2.6rem;
    }

    &-logo {
      width: 45%;
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;

      a {
        transition: 0.2s;
        &:hover svg {
          fill: $color-primary;
        }
      }

      svg {
        width: 2rem;
        height: 2rem;
        fill: #d1d8e0;
      }
      .footer__icon-be {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }

  &__right {
    width: 75%;
    display: flex;
    align-items: start;
    justify-content: space-around;

    @include respond(phone) {
      justify-content: center;
      gap: 10rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    gap: 2rem;

    &--last {
      h4 {
        margin-bottom: 4rem;
      }
    }

    &-list {
      font-size: 1.6rem;
      line-height: 2.6rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      a {
        transition: 0.2s;

        &:hover {
          color: $color-primary;
        }
      }

      .hire {
        position: relative;

        &::after {
          content: "Hiring";
          font-size: 1.1rem;
          color: #fff;
          position: absolute;
          background-color: #20ca66;
          border-radius: 100px;
          padding: 0 1.5rem;
          left: 7rem;
        }
      }
    }

    &-title {
      font-size: 2.4rem;
      line-height: 3.2rem;
      font-weight: 400;
    }

    &-text {
      font-size: 1.6rem;
      line-height: 1.6rem;
    }

    &-label {
      display: flex;
      align-items: center;
      border: 1px solid #d8e1ed;
      border-radius: 100rem;
      padding: 1.2rem 2rem;
    }

    &-inp {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      font-family: inherit;
      color: inherit;

      &::placeholder {
        font-family: inherit;
      }
    }

    &-arr {
      svg {
        width: 1.8rem;
        height: 1.8rem;
        transition: 0.2s;

        fill: $color-gray;

        &:hover {
          fill: $color-primary;
        }
      }
    }
  }

  &__below {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 2.6rem;

    @include respond(large-phone) {
      // padding: 2rem;

      justify-content: center;
      margin-right: 30rem;
      gap: 10rem;
    }

    @include respond(phone) {
      margin-right: 40rem;
    }

    &-left {
      display: flex;
      gap: 2rem;

      a {
        transition: 0.2s;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}
