.header__background {
  position: relative;
  z-index: -5;

  &--shape {
    position: absolute;
    top: -11.2rem;
    right: 0;
    width: 75.2rem;
    height: 68.8rem;

    @include respond(mid) {
      width: 70rem;
      top: -14rem;
    }

    @include respond(tab-port) {
      width: 60rem;
      top: -20rem;
    }
  }

  @include respond(large-phone) {
    display: none;
  }
}

.header-woman {
  position: absolute;
  top: -11.2rem;
  right: 0;
  width: 75.2rem;
  height: 68.8rem;

  @include respond(mid) {
    top: -15.7rem;
    right: -4rem;
  }

  @include respond(tab-port) {
    width: 58rem;
    height: 56rem;

    top: -13.5rem;
    right: 2rem;
  }
}

.header-wave {
  position: absolute;
  bottom: 10rem;
  right: 55rem;
  height: 6.6rem;
  width: 10.5rem;

  @include respond(mid) {
    display: none;
  }
}

.header-blue {
  position: absolute;
  right: -7.2rem;
  bottom: -4rem;

  display: none;
  @include respond(mid) {
  }
}

.header-yellow {
  position: absolute;
  right: 53rem;
  top: 10rem;

  display: none;
  @include respond(mid) {
  }
}

.header {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 14rem 0 0;
    max-width: 60%;

    @include respond(large-phone) {
      margin: 0 auto;
      max-width: 80%;
      padding: 0;
    }
  }

  &__title {
    font-size: 5rem;
    font-family: $font-secondary;
    font-weight: 600;
    line-height: 6.2rem;
    color: $color-heading;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  &__cta {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 2rem;

    &-link {
      grid-row: 1 / 3;
    }

    &-contact {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 2.8rem;
      color: $color-heading;
    }

    &-text {
      font-size: 1.6rem;
      line-height: 1.6rem;
    }
  }

  &__img {
    position: relative;
  }
}
